fieldset {
   /*background : url(../img/book1.jpg);*/
   background-repeat : no-repeat;
   background-size: contain;
   width: 500px;
   border-style:dotted;
   
}

legend {
    font-size : 1em;
    padding : 4px;
    border: 2px solid red;
}




